.card-header {
    box-shadow: 3px 3px 5px 5px rgb(212, 218, 219);
    border-radius: 20px;
    text-align: center;
}
.btn-add {
    background-color: #212529;
    color: white;
    height: 40px;
    width: auto;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.btn-add:hover {
    background-color: rgb(36, 110, 253);

}
.table_responcive{
    box-shadow: 3px 3px 5px 5px rgb(212, 218, 219);
    text-align: center;
}
.table{
 border-radius: 20px;
padding: 5px;
}