<div class="container">
    <div class="heding">
        <h1>Shipping Policy</h1>
    </div>
    <h2>ORDER INFORMATION</h2>

    <p>All orders are delivered by reputable third-party carriers who are suited for the job. If this is your first time
        placing an order with us, please double-check the card's billing address before submitting your payment. By
        doing this,
        you can be sure that your Order will be processed quickly. Once your payment has been approved, you will receive
        an
        email acknowledging your order and the address where the items will be delivered, along with an on-screen
        confirmation
        of the order. You will receive an order reference number that you can use for any more inquiries about the
        Purchase. We
        will notify you as soon as possible if, in the unlikely event that we are out of stock of an item or there is a
        problem
        processing your payment after authorization. we will contact you as soon as possible via email or by Phone.</p>
    <br>

    <p><b>​No extra charges and duties on Items. Free shipping across all India Terrain.</b><br><br>


        <b>​If you would like to discuss possible alternative delivery arrangements please contact us on
            hometheatres.hyderabad@gmail.com</b><br>
    </p>


    <h2>SHIPPING OF ORDERS</h2>

    <p>"If you shop with us online, you may relax knowing that we offer simple and fast deliveries. You won't need to do
        much
        more than press a button to receive your new buy thanks to order tracking.</p>


    <h2>CANCELLING MY ORDER</h2>
    <p>If you want to cancel an order placed on the website, please contact us via email at:
        hometheatres.hyderabad@gmail.com or
        call us at: 8639234351. Cancellation of an order shall be entertained only if your order hasn't already been
        shipped/
        despatched.</p>


</div>