<div class="container">
    <div class="heding">
        <h1>TERMS AND CONDITIONS</h1>
    </div>
    <h2>Thanks for visiting hyderabadhometeaters.in</h2>
    <p>
        You must accept the terms and conditions listed below in order to use any of the services provided by
        hyderabadhometeaters.in or any of its affiliates. You agree to these terms by browsing, shopping, or visiting.
        Therefore, before using <b>Hyderabad Home Theaters</b> ' website, you (the user) are encouraged to carefully
        read these
        terms and conditions. <br><br>

        These terms and conditions (together with the materials referred to in the terms) govern your use of this
        website and any orders for products you place there. Before using this website or placing a purchase, please
        read them.</p>

    <h2> WARRANTY</h2>
    <p>The Warranty is not transferable and only applies to the original purchaser (the person who bought the product
        directly from <b>www.hyderabadhometeaters.in</b> ). <br><br>

        Home Theatre Experts disclaims all liability for product malfunction or non-operation resulting from the use of
        subpar media, an unstable power source, earthing issues, the electrical discharge of other products, or improper
        software/firmware upgrades performed by the purchaser. <br><br>

        Only the actual device functioning is covered by the warranty; external aesthetic components like cover
        plastics, glassware, accessories, outer shell, connectors, antenna wires, cables, and consumables are not
        covered. The regular wear and tear of the goods is not covered by this warranty. <br><br>

        All products come with a manufacturer's warranty. Items are covered by the manufacturer's warranty for the
        specified amount of time.</p>

    <h2> RETURN POLICY</h2>
    <p> We at Hyderabad Home Theaters are dedicated to making sure that your purchasing experience is hassle-free and
        enjoyable. If the product you received was defective or dead on delivery, you can request a refund or exchange
        for the former and simply an exchange for the latter. Returns must be submitted within 7 days of the original
        purchase. (For instance, if you receive your order on September 1st, the deadline for returns is September 7th).
        Product must be in pristine, undamaged packaging. All accessories and manuals that may have been included with
        the primary Product should be returned with any item(s) that are being adjusted. Along with the product being
        returned, the original sales invoice must be included.Please send us the product information, your order
        reference number, the reason for the return, and images of the returned items if there are any returns.</p>

    <h4>In the event that a product is physically damaged or malfunctions, Hyderabad Home Theaters reserves the right to
        deduct handling fees and process your refund.</h4>
    <h2> THE CUSTOMER MUST BE AT LEAST 18 YEARS OLD</h2>
    <p>The User represents and warrants that he or she is at least 18 (eighteen) years old or has parental or guardian
        permission to order from or pay for purchases made on the website.</p>
    <h2> ACT OF 2000 ON INFORMATION TECHNOLOGY</h2>
    <p>According to the Information Technology Act of 2000 and any applicable rules, as well as the provisions of
        different statutes that have been updated to reflect the Information Technology Act's amendments, this document
        is an electronic record. There are neither physical nor digital signatures necessary for this electronic record
        because it is produced by a computer system.
    </p>
    <h2>SUPPLIER IDENTIFICATION</h2>
    <p>A website that is run and owned by Hyderabad Home Theaters. Our registered address is
        2-4-27,2-4-27/1,2-4-27/2,A.S Abdul Khader Arcade,Mahatma Gandhi Road,Secunderabad-500003,Telangana,Inadia.</p>

    <h2> IN CASE OF ORDER CANCELLATIONS</h2>
    <p>Order cancellation requests should be sent by email to hometheatres.hyderabad@gmail.com or through the website
        www.hyderabadhometeaters.in. Only if your order hasn't already been shipped or delivered will emails be answered.
    </p>

    <h2> DELAY OR NON-DELIVERY</h2>
    <p>Any additional costs/charges incurred by  Hyderabad Home Theaters for re-delivery shall be collected from the User
        who placed the Order in the event of non-delivery or late delivery as a result of an error by the User (i.e.
        incorrect or incomplete name or address or recipient not available).</p>

    <h2> CANCELLATION RIGHT & INACCURATE PRICES</h2>
    <p>Any order placed for a product that is offered at an inaccurate price or for any other reason may be refused or
        canceled by Hyderabad Home Theaters. Regardless of whether the order has been verified and/or payment has been
        received, this is the case. The exact amount spent will be repaid, and the user will be informed of an
        equivalent.</p>

    <h2>NOTICES</h2>
    <p>All notices must be sent to the addresses listed on our website. The email or postal address you gave us when you
        made a purchase from us may be where we send notices to you.</p>

    <h2>PRODUCT INFORMATION</h2>
    <p>Hyderabad Home Theaters has made an effort to give you the most recent and accurate product information. We are not
        responsible for any inconsistencies between the listed product(s) and the product(s) supplied, though. <br><br>


        Additionally, we are not responsible for missed deadlines for orders placed on our website. You can reach us
        directly at hometheatres.hyderabad@gmail.com or call us if you have any problems about the products.</p>

    <h2> THIRD PARTY FRAUDS</h2>
    <p>Any kind of credit card fraud will not be the responsibility ofHyderabad Home Theaters. The cardholder is solely
        responsible for any fraudulent card use, and it is their responsibility to "prove otherwise." On the website,
        the Utilizer may only use his or her own card.</p>

    <h2>ORDER FULFILMENT</h2>
    <p>If your order was shipped to a city or location where "Private Courier Companies" (such as shiprocket, DTDC, BLUE
        DART, etc.) were employed to service your area postcode, Hyderabad Home Theaters will assume "Full Responsibility"
        for your order.</p>
</div>