<div class="container">
    <div class="heding">
        <h1>Return Policy</h1>
    </div>
    <p>Your item must be brand-new and in the same condition as you received it in order to be eligible for a return.
        Additionally, it must be in its original packing. <br><br>


        We need a receipt or other evidence of purchase in order to process your return.
        Please don't return your purchase to the merchant.</p><br><br>

    <h2>(If applicable) Refunds</h2>
    <p>We will send you an email to let you know that we have received your returned item after it has been received and
        examined. The acceptance or denial of your refund will also be communicated to you by us.
        Within a predetermined number of days of receiving your approval, your refund will be processed and a credit
        will automatically be credited to your credit card or original mode of payment. <br><br>

        Please get in touch with our customer service staff to cancel your order if you need to, and make sure you do so
        no later than two hours after placing your order on our website. <br><br></p>

    <h2>You may submit a return request if you have valid issues like:</h2>
    <ol>
       <p> <li>
        Item not as ordered or the wrong product was delivered
    </li>
    <li> Product is flawed</li>
    <li> Product is "Dead on Arrival," meaning it is completely nonfunctional. </li></p>
    </ol>

    <h2>Missing or delayed refunds (if any)</h2>
    <p>Check your bank account one more first if you haven't gotten a return yet.
        Then get in touch with your credit card provider because it can take some time for the refund to appear on your
        account.  <br><br>
        Contact your bank next. Before a refund is posted, there is frequently a processing period.
        Please email us at  hometheatres.hyderabad@gmail.com if you've done all of this and you still have not gotten your
        refund.</p>

   <h2> Items on sale (if applicable)</h2>
    <p>Unfortunately, only regular-priced items may be returned; sale items are not eligible.</p>

   <h2> Exchanges (if necessary)</h2>
    <p>Only defective or damaged items are subject to replacement. Send us an email at hometheaterexperts01@gmail.com to
        let us know you want to swap it for the identical item.</p>

   <h2> Refund/Return Criteria</h2>

   <p> You can request a return if you want to send back a product that is broken or defective. However, there are a few
    things to keep in mind while returning a product: <br><br>  

    Requests for returns must be made within seven days of the delivery date.
    When a product is damaged, you must request a return within 24 hours of receiving it.
    Only faulty or damaged goods may be returned.</p>



    <h2>Shipping</h2>
    <p>You should mail your product to our warehouse address if you want to return something. <br><br>

        The expense of your own shipping for returning your goods is your responsibility. The cost of shipping is not
        refundable. The cost of return postage will be subtracted from your refund if you get one. <br><br>
    
        The amount of time it takes for the exchanged item to get to you will depend on where you reside. <br><br>
    
        Our promise that we'll get your returned item is not a promise.</p>
</div>