<div class="contact-section">
    <div class="container">
        <div class="titel mt-5">
            <h1>Let’s talk </h1>
        </div>
        <hr>

        <div class="row ">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="card mt-5 mb-5">
                    <h3>Get In Touch</h3>
                    <div class="touch mt-5 mb-5">

                        <a><i class="fas fa-map-marker-alt"></i><span> </span> 1-4-27,2-4-27/1,2-4-27/2 A.S ABDUL KHADER
                            ARCADE <br> Mahatma Gandhi Road Secundrabad</a><br><br>
                        <a><i class="fa fa-envelope" aria-hidden="true"></i>
                            hometheatres.hyderabad@gmail.com</a><br><br>
                        <a><i class="fas fa-phone"></i> 8639234351</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="container">
                    <div class="contact-form mt-3 mb-3">
                        <h3 class="text-center mb-4">Get in Touch with Us</h3>
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-lable"><i class="fa fa-user"></i> Your Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Your Name"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-lable"><i class="fa fa-envelope"></i> Email</label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Enter Your Email" required>
                            </div>
                            <div class="mb-3">
                                <label for="Phone" class="form-lable"><i class="fa fa-phone"></i> Phone Number</label>
                                <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control"
                                    placeholder="Enter Mobaile Number" required>
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-lable"><i class="fa fa-map-marker-alt"></i> City</label>
                                <input type="text" name="city" id="city" class="form-control" placeholder="Enter City"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label"><i class="fas fa-comment"></i> Message</label>
                                <textarea class="form-control" id="message" rows="4"
                                    placeholder="Write your message here..." required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary w-10"><i class="fas fa-paper-plane"></i> Submit
                                Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>