<div class="container mt-4">
    <h1>Company Profile</h1><br>
    <div class="text-left">
        <p>At <b>Hyderabad Home Theaters</b>, we've put together a great team to help you get the best home theater experience
            possible. We offer top-quality products and services that make us a go-to place in 1-4-27,2-4-27/1,2-4-27/2
            A.S ABDUL KHADER ARCADE
            Mahatma Gandhi Road, Secundrabad, India, for things like full HD projectors, fiber optic
            lights, ceiling speakers, AV receivers, floorstanding speakers of all top brands with authorized dealers in
            India, and help with designing your home theater. <br><br>

            Our boss, <b>Mr. NARESH</b>, leads us with a clear vision. Thanks to his guidance, we work hard to make sure
            you get exactly what you dream of for your home theater system. We're all about making our customers happy
            and delivering the best service and products. <br><br>

            Our <b>vision</b> is to set up home theaters that make everyone happy. Our top priority is to make sure every
            customer is satisfied. We do this by offering unique services and being very open and honest with everyone.
            <br><br>
        </p>
    </div>
    <h1> Business Specifics of Home Theater Experts:</h1>

    <table>
        <tbody>
            <tr>
                <td><b>Nature of Business</b></td>
                <td>Trader, Supplier, Wholesaler and Service Provider</td>
            </tr>
            <tr>
                <td><b>Owner</b></td>
                <td>Mr. Naresh</td>
            </tr>
            <tr>
                <td><b>Year of Establishment</b></td>
                <td>2023</td>
            </tr>
            <tr>
                <td><b>Location</b></td>
                <td>1-4-27,2-4-27/1,2-4-27/2 A.S ABDUL KHADER ARCADE Mahatma Gandhi Road Secundrabad</td>
            </tr>
            <tr>
                <td><b>No. of Employees</b> </td>
                <td>10+</td>
            </tr>
            <tr>
                <td><b>GST No.</b> </td>
                <td>06AGLPG1890M1Z1</td>
            </tr>
            <tr>
                <td><b>Contact Us</b> </td>
                <td>+91 8639234351 & +91 8639234351</td>
            </tr>
        </tbody>
    </table><br><br>

    <div class="choose_us">
    <p><b>Why Choose Us:</b> We are dedicated to turning your home theater dreams into reality. With our expertise and commitment to quality and service, we ensure a personalized and enjoyable experience for every client.</p>
    </div>
    <div class="buy_from_us">
        <h2><b>Whu Buy From Us?</b> </h2>
        <ul>
        <li>Largest Range in India</li>
        <li>High Quality from Top Brands</li>
        <li>Fast & Reliable Delivery</li>
        <li>Outstanding Customer Support</li>
        <li>Price Promise</li>
        <li>Exclusive Education Packages</li>
    </ul>
    </div><br><br>
    <p>At <b>Hyderabad Home Theaters</b>, we're all about bringing joy through exceptional home theater setups, ensuring every customer's needs are met with professionalism and personal attention. <br><br>

        Over the last few years, we have successfully set up more than 100 home theater installation projects all across India <br><br>
        
         
        
        We offer cash on delivery for our services, but we require a small amount as a confirmation deposit, with the rest payable upon delivery. <br><br>
        </p>
</div>