<div>
  <nav class="navbar navbar-expand-lg justify-content-center">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"></a>
      <div class="logo mt-2">
        <p><b>Big sale Live upto 50% Off On AV Receivers</b></p>
      </div>
    </div>
  </nav>
</div>

<nav class="container-fluid navbar-expand-lg bg-light">
  <div class="d-flex justify-content-between align-items-center">
    <!-- Search bar -->
    <form class="cart my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <i class="fa-solid fa-magnifying-glass"></i>
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit"></button> -->
    </form>
    <div class="logo_2 text-center">
      <img
        src="https://static.wixstatic.com/media/ea9da8_35394f0376ca46dbbde3c87a76f77833~mv2.png/v1/fill/w_494,h_544,al_c,lg_1,q_85,enc_avif,quality_auto/ea9da8_35394f0376ca46dbbde3c87a76f77833~mv2.png"
        alt="HYD Home Theater" class="img-fluid">
    </div>
    <div class="login">
      <a class="" routerLink="login"><i class="fas fa-user"></i></a>
    </div>
    <div class="cart">
      <a class="" routerLink="home"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
</nav>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- <a class="navbar-brand" href="#">My E-Commerce</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/brands" id="brandDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Brands
        </a>
        <ul class="dropdown-menu custom-dropdown" aria-labelledby="brandDropdown">
          <li><a href="#" class="dropdown-item">1</a></li>
          <li><a href="#" class="dropdown-item">2</a></li>
          <li><a href="#" class="dropdown-item">3</a></li>
          <li><a href="#" class="dropdown-item">4</a></li>
          <li><a href="#" class="dropdown-item">5</a></li>
          <li><a href="#" class="dropdown-item">6</a></li>
        </ul>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Discount</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutUs">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="contactUs">Contact</a>
      </li>
    </ul>
  </div>

</nav>

<!-- Modal for Login -->
<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div> -->