<div class="container">
    <section class="edit-products">
        <div class="card-header mt-5 p-2 text-center">
            <h1 class="mt-3"><b>Edit Products</b></h1>
        </div>
    </section>

    <div class="card mt-5 p-4">

        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="productName" class="form-label">Product Name</label>
              <input type="text" name="productName" id="productName" class="form-control" [(ngModel)]="product.productName" required>
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="brandId" class="form-label"><b>Brand Name</b></label>
              <select name="brandId" id="brandId" [(ngModel)]="product.brandId" class="form-control" required>
                <option value="" disabled selected>Select a Brand</option>
                <option *ngFor="let brand of brands" [value]="brand.brandId">
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="categoryId" class="form-label"><b>Category Name</b></label>
              <select name="categoryId" id="categoryId" [(ngModel)]="product.categoryId" class="form-control" required>
                <option value="" disabled selected>Select a Category</option>
                <option *ngFor="let category of categories" [value]="category.categoryId">
                  {{ category.categoryName }}
                </option>
              </select>
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="subCategoryId" class="form-label"><b>Sub-Category Name</b></label>
              <select name="subCategoryId" id="subCategoryId" [(ngModel)]="product.subCategoryId" class="form-control" required>
                <option value="" disabled selected>Select a Sub-Category</option>
                <option *ngFor="let subCategory of subCategories" [value]="subCategory.subCategoryId">
                  {{ subCategory.subCategoryName }}
                </option>
              </select>
            </div>
            
            <div class="col-md-4 col-sm-12 mb-3">
              <label for="status" class="form-label"><b>Status</b></label>
              <select name="status" id="status" [(ngModel)]="product.status" class="form-control" required>
                <option value="" disabled selected>Select Status</option>
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
              </select>
            </div>
            
            <div class="col-md-4 col-sm-4 mb-3">
              <label for="productPrice" class="form-label"><b>Price</b></label>
              <input type="number" name="productPrice" id="productPrice" class="form-control" [(ngModel)]="product.productPrice">
            </div>
            
            <div class="col-md-4 col-sm-4 mb-3">
              <label for="productRank" class="form-label"><b>Rank</b></label>
              <input type="number" name="productRank" id="productRank" class="form-control" [(ngModel)]="product.productRank">
            </div>
            
            <div class="col-md-6 col-sm-4 mb-3">
              <label for="productSku" class="form-label"><b>SKU</b></label>
              <input type="text" name="productSku" id="productSku" class="form-control" [(ngModel)]="product.productSku">
            </div>
          
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="originalPrice" class="form-label"><b>Original Price</b></label>
              <input type="number" name="originalPrice" id="originalPrice" class="form-control" [(ngModel)]="product.originalPrice">
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="discountedPrice" class="form-label"><b>Discounted Price</b></label>
              <input type="number" name="discountedPrice" id="discountedPrice" class="form-control" [(ngModel)]="product.discountedPrice">
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="discountPercentage" class="form-label"><b>Discount Percentage</b></label>
              <input type="number" name="discountPercentage" id="discountPercentage" class="form-control" [(ngModel)]="product.discountPercentage">
            </div>
          
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="color" class="form-label"><b>Color</b></label>
              <input type="color" name="color" id="color" class="form-control" [(ngModel)]="product.color">
            </div>
          
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="size" class="form-label"><b>Size</b></label>
              <input type="text" name="size" id="size" class="form-control" [(ngModel)]="product.size">
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="weight" class="form-label"><b>Weight</b></label>
              <input type="text" name="weight" id="weight" class="form-control" [(ngModel)]="product.weight">
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="dimensions" class="form-label"><b>Dimensions</b></label>
              <input type="text" name="dimensions" id="dimensions" class="form-control" [(ngModel)]="product.dimensions">
            </div>
          
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="material" class="form-label"><b>Material</b></label>
              <input type="text" name="material" id="material" class="form-control" [(ngModel)]="product.material">
            </div>
          
            <div class="col-md-6 col-sm-12 mb-3">
              <label for="warrantyPeriod" class="form-label"><b>Warranty Period</b></label>
              <input type="number" name="warrantyPeriod" id="warrantyPeriod" class="form-control" [(ngModel)]="product.warrantyPeriod">
            </div>

            <div class="col-md-12 col-sm-12 mb-3">
                <label for="description" class="form-label"><b>Description</b></label>
                <textarea id="description" name="description" class="form-control" [(ngModel)]="product.description"></textarea>
            </div>
          
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
          </div>
          
    </div>

</div>
