<div class="text-center mt-5 mb-5">
    <h1><b>A Look at Our Projects & Some of Our Best Works</b></h1>
</div>
<div class="text-center mt-5">
    <h1><b>PROJECT-1</b></h1>
</div>
<div id="imageCarousel" class="container carousel slide carousel-fade mb-5" data-bs-ride="carousel"
    data-bs-interval="3000">

    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Carousel Inner -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../assets/projects/wallpaperflare.com_wallpaper.jpg" class="d-block w-100" alt="Project 1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/wallpaperflare.com_wallpaper (1).jpg" class="d-block w-100" alt="Project 2">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/wallpaperflare.com_wallpaper (2).jpg" class="d-block w-100" alt="Project 3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/wallpaperflare.com_wallpaper (3).jpg" class="d-block w-100" alt="Project 4">
        </div>
    </div>

    <!-- Single Caption -->
    <div class="carousel-caption custom-caption">
        <h3>Hyderabad Home Theaters</h3>
        <p>When I initially went there, I thought the products were a little pricey. But they convinced me about the
            pros, and after buying and experiencing my home theatre, I realized every penny I spent on it was worth it
            and have no regrets whatsoever.</p>
        <h2>Mahipal Reddy</h2>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center mt-5">
    <h1><b>PROJECT-2</b></h1>
</div>
<div id="imageCarousel" class="container carousel slide carousel-fade mb-5" data-bs-ride="carousel"
    data-bs-interval="3000">

    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Carousel Inner -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../assets/projects/project_2_img_1.png" class="d-block w-100" alt="Project 1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/project_2_img_2.png" class="d-block w-100" alt="Project 2">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/project_2_img_3.png" class="d-block w-100" alt="Project 3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/wallpaperflare.com_wallpaper (3).jpg" class="d-block w-100" alt="Project 4">
        </div>
    </div>

    <!-- Single Caption -->
    <div class="carousel-caption custom-caption">
        <h3>Hyderabad Home Theaters</h3>
        <p>I gave Hyderabad Home Theaters the basic information about the home theatre needs for our model villa. Their
            professionals are so experienced that they understood my requirements immediately and delivered not just
            what I was looking for, but much more.</p>
        <h2>Sudheer</h2>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>

<div class="text-center mt-5">
    <h1><b>PROJECT-3</b></h1>
</div>
<div id="imageCarousel" class="container carousel slide carousel-fade mb-5" data-bs-ride="carousel"
    data-bs-interval="3000">

    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Carousel Inner -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../assets/projects/project_3_img_1.png" class="d-block w-100" alt="Project 1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/project_3_img_2.png" class="d-block w-100" alt="Project 2">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/project_3_img_3.png" class="d-block w-100" alt="Project 3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/wallpaperflare.com_wallpaper (3).jpg" class="d-block w-100" alt="Project 4">
        </div>
    </div>

    <!-- Single Caption -->
    <div class="carousel-caption custom-caption">
        <h3>Hyderabad Home Theaters</h3>
        <p>Hyderabad Home Theaters is quite easily the best home theatre dealers in Hyderabad. Hands down! They will
            blow you away with their knowledge and quality.</p>
        <h2>Shiva Krishna</h2>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>

<div class="text-center mt-5">
    <h1><b>PROJECT-4</b></h1>
</div>
<div id="imageCarousel" class="container carousel slide carousel-fade mb-5" data-bs-ride="carousel"
    data-bs-interval="3000">

    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Carousel Inner -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../assets/projects/project_4_img_1.png" class="d-block w-100" alt="Project 1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/project_4_img_2.png" class="d-block w-100" alt="Project 2">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/project_4_img_3.png" class="d-block w-100" alt="Project 3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/projects/project_4_img_4.png" class="d-block w-100" alt="Project 4">
        </div>
    </div>

    <!-- Single Caption -->
    <div class="carousel-caption custom-caption">
        <h3>Hyderabad Home Theaters</h3>
        <p>The guys at Fortune Home Theatre are very knowledgeable and helpful. They know all about sound and its
            importance, and they ended up giving me exactly what I wanted</p>
        <h2>Surya</h2>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>