<div class="text-center mt-5 mb-5">
    <h1><b>A Look at Our Projects & Some of Our Best Works</b></h1>
</div>

<div *ngFor="let project of paginatedProjects; let idx = index" class="mb-5">

    <div *ngIf="project.images && project.images.length > 0">
        <div class="text-center mt-5">
           <h1><b>PROJECT-{{ (currentPage - 1) * itemsPerPage + idx + 1 }}</b></h1>
        </div>

        <div [id]="'imageCarousel' + idx" class="container carousel slide carousel-fade" data-bs-ride="carousel"
            data-bs-interval="3000">

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button *ngFor="let img of project.images; let i = index" type="button"
                    [attr.data-bs-target]="'#imageCarousel' + idx" [attr.data-bs-slide-to]="i" [class.active]="i === 0">
                </button>
            </div>

            <!-- Slides -->
            <div class="carousel-inner">
                <div *ngFor="let img of project.images; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img [src]="'../../assets/projects_images/' + img" class="d-block w-100" alt="Project Image">
                </div>
            </div>

            <!-- Caption (you can customize this part to use project-specific data) -->
            <div class="carousel-caption custom-caption">
                <h3>Hyderabad Home Theaters</h3>
                <p>{{ project.description }}</p>
                <h2>{{ project.customerName }}</h2>
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#imageCarousel' + idx"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#imageCarousel' + idx"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

        
    </div>
</div>

 <nav class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
      <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>