<div class="container-fluid d-flex justify-content-center">
    <div class="card col-md-6 col-sm-6 col-lg-6 mt-5 mb-5 p-4">
        <div class="mt-3 d-flex justify-content-center">
            <h3><b>Login</b></h3>
        </div>
        <!-- ngForm for Template-driven form -->
        <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label"><b>Username</b></label>
                <input 
                    type="text" 
                    name="username" 
                    id="username" 
                    class="form-control" 
                    placeholder="Username" 
                    required
                    [(ngModel)]="user.username"
                    #name="ngModel"
                >
                <div *ngIf="name.invalid && name.touched" class="text-danger">
                    Username is required
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><b>Password</b></label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    class="form-control" 
                    placeholder="Password" 
                    required
                    [(ngModel)]="user.password"
                    #password="ngModel"
                >
                <div *ngIf="password.invalid && password.touched" class="text-danger">
                    Password is required
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
        <br>
        <h6 class="d-flex justify-content-center">
            You don't have an account? 
            <a routerLink="/register" class="ms-2">Register here</a>
        </h6>
    </div>
</div>
