<div class="container">
    <div class="heding">
        <h1>Refund Policy</h1>
    </div>
    <ul>
        <li>
            <p> Any Defects found in products should be reported by the recipient or the sender within 48 hours of the
                receiving the
                product. In an event of failure to do so, the products shall be considered as used and any request to
                replace the
                same will be rejected. In case of product combos which include multiple items, if a part of the order is
                not
                upto
                the mark then only the these item will be considered for refund/replacement and customer will be charged
                for
                rest of
                items.</p>
        </li>
        <li>
            <p> We reserve the right to cancel / modify any order without providing any reason. This is regardless of
                whether the
                payment has been confirmed / received. Complete refund for the cancelled orders and differential refund
                for
                the
                modified orders will be processed. Refund can take upto 7 days to effect.</p>
        </li>
        <li>
            <p>For orders in which problem arises owing to the mistake of the user e.g. wrong address or incomplete
                information or
                recipient not reachable, no refund will be given.</p>
        </li>
        <li>
            <p>For any query regarding our refund or cancellation policy, mail us at hometheatres.hyderabad@gmail.com.</p>
        </li>
    </ul>
</div>