<div class="container-fluid p-0">
  <div class="image-container">
    <img src="../../assets/vecteezy_a-home-theater-with-reclining-chairs-and-a-projector_56318023.jpg" alt="Banner">
    <div class="overlay-text animate__animated animate__fadeInRight">All Your Favorite Categories in One Place – Choose
      the
      One That Fits You</div>
  </div>
</div>

<div class="container mt-4">
  <!-- Show Categories only when no category is selected -->
  <div *ngIf="!categoryId">
    <h1 class="text-center mt-3 mb-3"><b>Your Trusted Categories, All in One Place.</b></h1>
    <p class="text-right"><b>Total Categories: {{ categories.length }}</b></p>

    <div class="row mb-4">
      <div class="col-md-3 col-sm-6" *ngFor="let category of displayedCategoriess">
        <div class="h-100 p-3 animate__animated animate__fadeInRight">
          <div class="card hover-bg text-center">
            <img src="../.././assets/Buystack_AVR-X1800H_Image_StudioF_NA.webp" alt="{{ category.categoryName }}"
              class="category-img">
            <h4><b>{{ category.categoryName }}</b></h4>
            <p class="card-text"><b>{{category.description}}</b></p>
            <button (click)="router.navigate(['/categories', category.categoryId])" class="btn btn-primary">
              View Subcategories
            </button>
          </div>
        </div>
      </div>

      <!-- Pagination Controls -->
      <div class="text-center mt-3">
        <i class="fa fa-angle-left pagination-shadow" (click)="prevPage()" [class.disabled]="currentPage === 1"></i>
        <span class="mx-3">Page {{ currentPage }} of {{ totalPages }}</span>
        <i class="fa fa-angle-right pagination-shadow" (click)="nextPage()"
          [class.disabled]="currentPage >= totalPages"></i>
      </div>
    </div>
  </div>

  <!-- Show Subcategories only when a category is selected -->
  <div *ngIf="categoryId">
    <button class="btn btn-secondary mb-3" (click)="showCategories()">Back to Brands</button>
    <h1 class="text-center mt-3 mb-3">
      <b>
        {{ categoryId ? ('Explore Products by "' + (categoryName || 'Unknown Category') + '"') : 'Explore All Category'
        }}
      </b>
    </h1>
    <h3 class="text-end me-3"><b>Total Products : {{ products.length }}</b></h3>

    <div *ngIf="products.length > 0; else noData">
      <div class="row mt-4 mb-4">
        <div class="col-md-4" *ngFor="let product of products" class="col-md-3 col-sm-6">
          <div class="h-100 p-3 animate__animated animate__fadeInRight">
            <div class="card hover-bg">
              <img
                src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxIZWFkcGhvbmVzfGVufDB8MHx8fDE3Mjk1MDkzMjV8MA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="card-img-top" alt="Product Image" (click)="viewProductDetails(product)" type="button">

              <!-- <img src="../.././assets/boss-home-theater-system.webp" alt="{{ product.productName }}" class="category-img"> -->
              <div class="p-2">
                <h4 class="card-title" type="button" (click)="viewProductDetails(product)"><b>{{ product.productName
                    }}</b></h4>
                <p class="card-text">High-quality wireless with noise cancellation technology.</p>
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <span class="h5 mb-0">₹{{ product.productPrice }}</span>
                  <div class="rating">⭐⭐⭐⭐<small class="text-muted">({{ product.productRank }})</small>
                  </div>
                </div>
                <div class="d-grid gap-2">
                  <!-- <button class="btn btn-primary" (click)="viewProductDetails(product)">
                    Quick View
                  </button> -->
                  <!-- <button class="btn btn-outline-secondary" (click)="router.navigate(['/cart'])" type="button"
                    id="addToCartBtn">Add to Cart</button> -->
                </div>
              </div>
              <button class="btn btn-danger add-to-cart-btn" type="button">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noData>
      <p class="text-center text-muted">No Products available.</p>
    </ng-template>
  </div>
</div>