.image-container {
  position: relative;
  text-align: center;
  color: white;
}
.image-container img {
  width: 100%;
  height: 400px;
}
.overlay-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
}

.card {
  border: 1px solid #fefbfb;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(6, 5, 5, 0.1);
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeInRight 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #fff;
}


.row .col-md-3:nth-of-type(1) .card:hover {
  background-color: #58eeeb; /* Light Red */
  color: #000;
}

.row .col-md-3:nth-of-type(2) .card:hover {
  background-color: #93e4e2; /* Light Green */
  color: #000;
}

.row .col-md-3:nth-of-type(3) .card:hover {
  background-color: #e784cc; /* Light Blue */
  color: #000;
}

.row .col-md-3:nth-of-type(4) .card:hover {
  background-color: #b9b7c3; /* Light Yellow */
  color: #000;
}

.row .col-md-3:nth-of-type(5) .card:hover {
  background-color: #e0e6ab; /* Light Red */
  color: #000;
}

.row .col-md-3:nth-of-type(6) .card:hover {
  background-color: #e1f90d; /* Light Green */
  color: #000;
}

.row .col-md-3:nth-of-type(7) .card:hover {
  background-color: #aeecaf; /* Light Blue */
  color: #000;
}

.row .col-md-3:nth-of-type(8) .card:hover {
  background-color: #c6c5c9; /* Light Yellow */
  color: #000;
}
  
  .card h3 {
    font-size: 18px;
    color: #333;
    // margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
    // margin-bottom: 20px;
  }
  
  .hover-bg:hover {
    background-color: #aef922;
    transform: scale(1.05);
  }
  
  .hover-bg .image {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .hover-bg .image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .hover-bg:hover .image img {
    transform: scale(1.1);
  }
  
  .hover-bg h4,
  .hover-bg p {
    // padding: 10px;
    transition: color 0.3s ease;
  }
  
  .hover-bg:hover h4,
  .hover-bg:hover p {
    color: #007bff;
  }
  .pagination-shadow {
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .pagination-shadow:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .pagination-shadow.disabled {
    color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
  }

  