<div class="container">
  <h2 class="mt-4"><b>All Questions</b></h2>

  <!-- Filters -->
  <div class="row mt-3 mb-4">
    <div class="col-md-4">
      <label class="form-label"><b>Status</b></label>
      <select class="form-select" [(ngModel)]="selectedStatus" (ngModelChange)="applyFilters()">
        <option [ngValue]="null">All</option>
        <option value="Approved">Approved</option>
        <option value="Pending">Pending</option>
        <option value="Rejected">Rejected</option>
      </select>
    </div>

    <div class="col-md-4">
      <label class="form-label"><b>User Name</b></label>
      <input type="text" class="form-control" [(ngModel)]="searchName" (ngModelChange)="applyFilters()"
        placeholder="Search by name" />
    </div>
  </div>

  <!-- Questions Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>SN</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Question</th>
          <th>Answer</th>
          <th>Image</th>
          <th>Status</th>
          <th>Product</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of paginatedQuestions; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ q.userName }}</td>
          <td>{{ q.userEmail }}</td>
          <td>{{ q.question }}</td>
          <td>{{ q.answer }}</td>
          <td><img src="../../../../../assets/brand_images/{{q.image}}" alt="Cover Image"
              style="width: 50px; height: auto;"></td>
          <td>{{ q.status }}</td>
          <td>{{ getProductName(q.productId) }}</td>
          <td>
            <button class="btn btn-sm btn-primary">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="prevPage()">Previous</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link">Page {{ currentPage }} of {{ totalPages }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>
</div>