<div class="container">
    <section class="view-project">
        <div class="card-header mt-5 p-2 text-center">
            <h1 class="mt-3"><b>Add Project</b></h1>
        </div>
    </section>

    <div class="card mt-5 p-4">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="projectName" class="form-label required-label"><b>Project Name</b></label>
                    <input type="text" id="projectName" name="projectName" class="form-control"
                        formControlName="projectName">
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="customerName" class="form-label required-label"><b>Customer Name</b></label>
                    <input type="text" id="customerName" name="customerName" class="form-control"
                        formControlName="customerName">
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="description" class="form-label required-label"><b> Description</b></label>
                    <textarea id="description" name="description" class="form-control"
                        formControlName="description"></textarea>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="startDate" class="form-label required-label"><b>Start Date</b></label>
                    <input type="date" id="startDate" name="startDate" class="form-control" formControlName="startDate">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="endDate" class="form-label required-label"><b>End Date</b></label>
                    <input type="date" id="endDate" name="endDate" class="form-control" formControlName="endDate">
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="images" class="form-label required-label"><b>Images (max 2)</b></label>
                    <input type="file" id="images" name="images" (change)="onFileChange($event)" accept="image/*" multiple class="form-control" />
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid">Submit</button>
            </div>
        </form>

    </div>
</div>