<ng-container *ngIf="!isLoggedIn(); else loggedInTemplate">
    <!-- Not Logged In: show login page -->
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-whatsapp-widget></app-whatsapp-widget>
    <app-footer></app-footer>
  </ng-container>
  
  <ng-template #loggedInTemplate>
    <ng-container [ngSwitch]="getRole()">
  
      <!-- Admin Layout (NO header/footer) -->
      <ng-container *ngSwitchCase="'ROLE_ADMIN'">
        <div class="container-fluid h-100">
          <div class="row align-items-center mb-3">
            <div class="col-md-3">
              <img src="../assets/WhatsApp Image 2025-04-07 .jpg" alt="Logo_1" class="img-fluid" />
            </div>
            <div class="col-md-9 p-3 d-flex justify-content-between bg-danger">
              <i class="fas fa-bars fa-3x" [routerLink]="'/admin/admin-dashbord'"></i>
              <div class="logout" (mouseenter)="showCard()" (mouseleave)="hideCard()">
                <i class="fas fa-user fa-3x"></i>
                <div class="logout-card" *ngIf="cardVisible" (mouseenter)="resetCloseTimer()" (mouseleave)="hideCard()">
                  <div class="logout-card-item" (click)="logOut()"><b>Logout</b></div>
                </div>
              </div>    
            </div>
          </div>

          <!-- Admin dashboard content -->
          <router-outlet></router-outlet>
        </div>
      </ng-container>
  
      <!-- User Layout -->
      <ng-container *ngSwitchCase="'ROLE_USER'">
        <app-header></app-header>
        <app-user></app-user>
        <!-- <router-outlet></router-outlet> -->
        <app-whatsapp-widget></app-whatsapp-widget>
        <app-footer></app-footer>
      </ng-container>

      <!-- Fallback -->
      <ng-container *ngSwitchDefault>
        <router-outlet></router-outlet>
      </ng-container>
    </ng-container>
  </ng-template>
  