.card {
    // background-color: rgb(241, 234, 84);
    // border: 1px solid #1d1dba;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  .card h3 {
    font-size: 18px;
    color: #333;
    // margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
    // margin-bottom: 20px;
  }
  
  .hover-bg:hover {
    background-color: #aef922;
    transform: scale(1.05);
  }
  
  .hover-bg .image {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .hover-bg .image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .hover-bg:hover .image img {
    transform: scale(1.1);
  }
  
  .hover-bg h4,
  .hover-bg p {
    // padding: 10px;
    transition: color 0.3s ease;
  }
  
  .hover-bg:hover h4,
  .hover-bg:hover p {
    color: #007bff;
  }