<div class="container-fluid p-0">
  <div class="image-container">
    <img src="../../assets/speaker_brands_D_Brands.webp" alt="Banner">
    <div class="overlay-text animate__animated animate__fadeInRight">All Your Favorite Brands in One Place – Choose the
      One That Fits You</div>
  </div>
</div>
<div class="container text-center mt-4 mb-4">
  <h1><b>Show All Products Available in This Ward</b></h1>

  <!-- Search Bar -->
  <div class="row mb-4">
    <div class="col-md-3 mb-2">
      <input type="text" class="form-control" placeholder="Search by product name" [(ngModel)]="searchName"
        (input)="filterProducts()" />
    </div>

    <div class="col-md-3 mb-2">
      <select class="form-select mb-3" [(ngModel)]="selectedPriceRange" (change)="applySelectedPriceRange()">
        <option [ngValue]="null">Select Price Range</option>
        <option *ngFor="let range of priceRanges" [ngValue]="range">
          {{ range.label }}
        </option>
      </select>
      <div *ngIf="selectedPriceRange" class="text-success small mb-2">
        ✅ Currently refined by price: <b>{{ selectedPriceRange.label }}</b>
      </div>
    </div>

    <div class="col-md-6 mb-2">
      <h3 class="text-end me-3 underline-text">
        <b>Total Products : {{ filteredProducts.length }}</b>
      </h3>
    </div>
  </div>



  <div class="row mt-4 mb-4">
    <div class="col-md-3 col-sm-6" *ngFor="let product of filteredProducts" >
      <div class="h-100 p-3 animate__animated animate__fadeInRight">
        <div class="card hover-bg">
          <img
            src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxIZWFkcGhvbmVzfGVufDB8MHx8fDE3Mjk1MDkzMjV8MA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
            class="card-img-top" alt="Product Image" (click)="viewProductDetails(product)" type="button">

          <!-- <img src="../.././assets/boss-home-theater-system.webp" alt="{{ product.productName }}" class="category-img"> -->
          <div class="p-2">
            <h4 class="card-title" (click)="viewProductDetails(product)" type="button"><b>{{ product.productName
                }}</b></h4>
            <p class="card-text">High-quality wireless with noise cancellation technology.</p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span class="h5 mb-0">₹{{ product.productPrice }}</span>
              <!-- <div class="rating">⭐⭐⭐⭐<small class="text-muted">({{ product.productRank }})</small>
                </div> -->

              <div class="rating">
                <ng-container *ngFor="let star of [1,2,3,4,5]">
                  <i class="fa" [ngClass]="{
                         'fa-star': product.productRank >= star,
                         'fa-star-half-o': product.productRank >= star - 0.5 && product.productRank < star,
                         'fa-star-o': product.productRank < star - 0.5
                       }" aria-hidden="true">
                  </i>
                </ng-container>
                <small class="text-muted">({{ product.productRank }})</small>
              </div>

            </div>
            <div class="d-grid ">
              <!-- <button class="btn btn-primary" (click)="viewProductDetails(product)">
                  Quick View
                </button> -->
              <!-- <button class="btn btn-outline-secondary" (click)="router.navigate(['/cart'])" type="button"
                  id="addToCartBtn">Add to Cart</button> -->
            </div>
          </div>
          <button class="btn btn-danger add-to-cart-btn" (click)="addToCart(product)" type="button">
            Add to Cart
          </button>
        </div>
      </div>
    </div>

     <!-- Pagination Controls -->
     <div class="text-center mt-3">
      <i class="fa fa-angle-left pagination-shadow" (click)="prevPage()" [class.disabled]="currentPage === 1"></i>
      <span class="mx-3">Page {{ currentPage }} of {{ totalPages }}</span>
      <i class="fa fa-angle-right pagination-shadow" (click)="nextPage()"
        [class.disabled]="currentPage >= totalPages"></i>
    </div>
  </div>
</div>