<div class="dashboard-container">
  <div class="user-info">
    <h2>Account Details</h2>
    
    <div *ngIf="loading">Loading user details...</div>

    <div *ngIf="!loading && userDetails" class="event-card">
      <div class="event-details">
        <p><strong>Name:</strong> {{ userDetails.username }}</p>
        <p><strong>Email:</strong> {{ userDetails.email }}</p>
        <p><strong>Phone:</strong> {{ userDetails.mobileNumber }}</p>

        <p><strong>Address:</strong></p>
        <p><strong>Street:</strong> {{ userDetails.addressLine1 }}</p>
        <p><strong>City:</strong> {{ userDetails.city }}</p>
        <p><strong>Country:</strong> {{ userDetails.country }}</p>
        <p><strong>Post Code:</strong> {{ userDetails.postCode }}</p>
      </div>
    </div>

    <div *ngIf="!loading && errorMessage" class="text-danger">
      {{ errorMessage }}
    </div>
  </div>
</div>
