<footer class="footer">
  <div class="container">
    <div class="row mt-3">
      <!-- Company Info -->
      <div class="col-md-3 footer-section">
        <h1>Our store Locations</h1>
        <p><b><i class="fas fa-map-marker-alt"></i></b><br>1-4-27,2-4-27/1,2-4-27/2 A.S ABDUL KHADER ARCADE Mahatma Gandhi Road Secundrabad</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i><br> hometheatres.hyderabad@gmail.com</p>
        <p><i class="fas fa-phone"></i><br>+91 8639234351</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-3 footer-section">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="/aboutUs">About Us</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/contactUs">Contact</a></li>
          <li><a routerLink="/categories">Categories</a></li>
          <li><a routerLink="/design-services">Design Service</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-3 footer-section">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-md-3 footer-section">
        <h5>About Us</h5>
        <div class="text-center">
          <p>Welcome to the Home Theatre Experts Store, your one-stop destination for all things audio and visual.
            Discover a world of immersive entertainment with our carefully curated selection of home theater systems,
            high-quality speakers, 4K projectors, and cutting-edge audio equipment.</p>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center mt-3">
      <p>&copy; 2025 HYD Home Theater. All Rights Reserved.</p>
    </div>
  </div>
</footer>