<div class="container">
    <div class="heading mt-5 mb-5">
        <h1 class="text-center"><b>Account</b></h1>
        <div class="text-end" (click)="logOut()">
            <b><h2 class="blink-text text-">
                <i class="fas fa-user"></i>Logout 
            </h2></b>
        </div>
    </div>
    

    <div class="row">
        <div class="col-sm-6 col-sm-6">
            <h1>Order history</h1>
            <p>You haven't placed any orders yet.</p>
        </div>

        <div class="col-sm-6 col-sm-6">
            <h1>Account details</h1>
            <p class="">View addresses (0)</p>
        </div>

    </div>

</div>

