<div id="imageCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Carousel Inner -->
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="https://img.freepik.com/premium-photo/photo-home-theater-system-with-voice-control_778780-29337.jpg?w=1380"
                class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center">
                <h3 class="fw-bold">Hyderabad Home Theatres</h3>
                <h4>Experience the ultimate cinematic experience at home.</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/view-3d-cinema-theatre-room_23-2151067022.jpg?t=st=1739956265~exp=1739959865~hmac=0d205fd754aeb78373588b1daa5747e55c11db464356c204a16c911f46df4921&w=1380"
                class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center">
                <h3 class="fw-bold">Immersive Sound & Vision</h3>
                <h4>Premium audio and visual setup for an unparalleled experience.</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/modern-living-room-with-home-automation-system_9975-33118.jpg?t=st=1739956163~exp=1739959763~hmac=7f39421fbf7f698b46ff247c5fa1f10afbc8b35dfd70bdd51491023997600649&w=1380"
                class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center">
                <h3 class="fw-bold">Smart & Elegant Design</h3>
                <h4>Seamlessly integrated into your living space.</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://forceav.com/templates/yootheme/cache/24/FORCAV-hometheater-header-mobile-replace-2486ca9f.jpeg"
                class="d-block w-100" alt="Slide 4">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center">
                <h3 class="fw-bold">Customizable Experience</h3>
                <h4>Tailor your home theatre to match your preferences.</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="journey mt-5 mb-5">
    <h2 class="justify-content-center text-center"><b>The journey</b></h2><br>
    <p><b>Founded in 2013, Symphony 440 Design Group prioritizes delivering top-tier Professional Acoustic & Audio Video Consulting & Implementation services using internationally renowned products. With each passing year, we have seamlessly integrated this commitment into all facets of audio/video design, installations, system integration, and customer services. <br><br>
        Trust our experienced professionals at Symphony 440 Design Group to transform your vision into reality, whether it's a dedicated home theatre, a professional sound recording studio, or the acoustic enhancement of an auditorium.</b></p>
</div>
</div>
<div class="aboutUs justify-content-center text-center mt-5">
    <div class="container mb-5 mt-5">
        <h2><b>About Hyderabad Home Theatres</b></h2>
    </div>
</div>



<div class="content-section mt-4 mb-4">
    <div class="container mt-4 mb-4">
        <div class="row mb-5">
            <div class="col-md-6 col-sm-6 col-12 mb-4">
                <div id="curvedCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                    data-bs-interval="1000">
                    <div class="carousel-2">
                        <div class="carousel-item active">
                            <img src="https://fortunehometheatre.com/wp-content/uploads/2024/03/04.png" alt="Image 1"
                                class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/premium-photo/living-room-with-black-white-tv-green-plant-corner_1308028-2749.jpg?w=1380"
                                alt="Image 2" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/free-vector/vector-game-room-illustration-modern-esports-concept_33099-1201.jpg?t=st=1739951380~exp=1739954980~hmac=8fafeb858570b9313565e17250c459e72f78441168c27746170ea207f8f948d1&w=1380"
                                alt="Image 3" class="d-block w-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12 mb-4">
                <div class="titel justify-content-center text-center ">
                    <h2><b>Our Services</b></h2>
                    <p class=" d-flex text-center ">Welcome to Hyderabad Home Theatre, where we’re dedicated to
                        revolutionizing the way you enjoy entertainment within the comfort of your own home. With a
                        passion for cutting-edge technology and an unwavering commitment to customer satisfaction, we’re
                        proud to be your premier destination for all things about Home Theatre and Automation Solutions.

                        What makes us stand apart, is that we bring the best audio visual brands of the world to you and
                        provide end-to-end solutions, Home Theatre, Home Automation, Home Security to Acoustic Design
                        that encompasses all that is videos and sound.

                        At Fortune Home Theatre, we believe that every movie-watching experience should be more than
                        just watching a screen – it should be an immersive journey that transports you to new worlds and
                        ignites your senses.

                        With our expertise in high-end audiovisual and home cinema design, we transform ordinary rooms
                        into extraordinary entertainment spaces.

                        Fortune Home Theatre is always up to date with the latest technology, which ensures the
                        customers have the most advanced products to enhance their home theatre experience, along with
                        an unparalleled after sales service.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-12 mb-4">
                <div class="titel justify-content-center text-center ">
                    <h2><b>Our Vision</b></h2>
                    <!-- <h4>Feel every dimension</h4> -->
                    <p class=" d-flex text-center ">Our vision at Fortune Home Theatre is simple yet ambitious: to bring
                        the magic of the cinema directly to you. We strive to create a new age cinema hall within your
                        home, where every detail is meticulously crafted to enhance the audiovisual experience and
                        immerse you in the world of cinema like never before.

                        We’re not just in the business of selling products; we’re in the business of creating
                        experiences. From our curated selection of the world’s best audiovisual brands to our
                        custom-tailored solutions for every room and every budget, we’re committed to delivering nothing
                        short of perfection.

                        At Fortune Home Theatre, we believe that your home should be your sanctuary – a place where you
                        can escape, unwind, and lose yourself in the magic of entertainment. Join us on this journey,
                        and let us help you turn your dreams of the ultimate home theatre experience into a reality.
                    </p>

                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-12 mb- mt-5">
                <div id="curvedCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                    data-bs-interval="1000">
                    <div class="carousel-2">
                        <div class="carousel-item active">
                            <img src="https://img.freepik.com/free-photo/modern-living-room-with-large-tv-city-view_9975-33148.jpg?t=st=1739954089~exp=1739957689~hmac=c19d6578388dfb4f6360d50d44ec391036616f67ae1e6b893780ffe8f843c957&w=1380"
                                alt="Image 1" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/premium-photo/home-theater-setup-with-multiple-speakers-projector-screen-comfortable-seating_1327465-74112.jpg?w=740"
                                alt="Image 2" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/free-photo/modern-living-room-with-large-tv-comfortable-sofa_9975-33050.jpg?t=st=1739954151~exp=1739957751~hmac=08252832c69450a8fffbbc3c4651791af40b43176a1a4d82e47c493299d88ad8&w=1380"
                                alt="Image 3" class="d-block w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>