<div class="container">
    <div class="heding">
        <h1>Privacy Policy</h1>
    </div>
    <p>Thank you for visiting the Hyderabad Home Theaters privacy notice. It's also one of our guiding principles
        here
        at Hyderabad Home Theaters. Hyderabad Home Theaters values its relationships with its clients greatly, and
        we are
        dedicated to making your time working with us enjoyable and memorable. At Hyderabad Home Theaters, we think
        that working with us should produce unique and memorable experiences. You must build and keep your trust in
        order for that to occur.</p> <br><br>
    <h2> THE DATA WE COLLECT ABOUT YOU</h2>

    <p>Any information that can be used to identify an individual is referred to as personal data or personal
        information.
        We may gather, use, keep, and transfer the following categories of personal information about you: <br> <br>

        <b>Identity information:</b> includes title, first and last names. <br><br>

        <b>Contact information:</b> includes name, mailing address, phone number, and email. <br><br>

        <b>Financial Information:</b> consists of bank account and credit card information. <br><br>

        <b>Transaction Data:</b> consists of information regarding payments made to and received from you as well as
        other
        specifics about the goods and services you have purchased from Us. <br><br>

        <b>Technical Information: </b>consists of your IP address, login information, browser type and version, location
        and time
        zone information, browser plug-in types and versions, operating system and platform, and other hardware on the
        devices you use to access our website. <br><br>

        <b>Profile Data: </b>Purchases or orders you've made, your likes and preferences, feedback, and survey responses
        are all
        examples of profile data. <br><br>

        <b>Usage Data:</b> Information on how you use our website, products, and services is included in our usage data.
        <br><br>
    </p>





    <h2> HOW IS YOUR PERSONAL DATA COLLECTED?</h2>

    <p>Direct exchanges. By filling out forms or communicating with us in any other way, you are able to provide us with
        your identity, contact information, and financial information. This includes any private information you give us
        when; <br><br>

        enlist for our services or products; <br><br>

        purchase from us in-person, over the phone, or online; <br><br>

        sign up for a profile on our website; <br><br>

        submit an entry to a contest, promotion, survey, or feedback form. <br></p>

    <h2>WHAT YOU MIGHT BE NEEDED FOR</h2>
    <p> To verify your identity and secure your right to access your personal data (or to exercise any of your other
        rights), we might need to ask you for particular details. This is a security safeguard to make sure that
        personal
        information is not given to someone who shouldn't have access to it. In order to expedite our response, we might
        possibly get in touch with you and ask you for more details about your request.</p> <br><br>



    <h2>CONTROLLER</h2>


    <p> Your personal information is in the control of Hyderabad Home Theaters, who is also referred to in this privacy
        notice
        as "Hyderabad Home Theaters", "we", "us", or "our". We have a data protection manager who is in charge of managing
        inquiries regarding this privacy notice.</p><br><br>

    <h2>PRIVACY</h2>

    <p>Hyderabad Home Theaters is aware that online customers prioritize security and privacy. We take a number of
        precautions
        to preserve the security of your data, including using encryption technology to make it easier for your
        information
        to be transmitted on all of our secure web pages. <br><br>

        We are grateful that you shared your personal information with us. We make an effort to protect the privacy of
        such
        data. For research, to better understand our customers' needs, to create new offerings, to improve our website
        or
        the goods or services we provide, to inform you of new goods and services (offered by us or our partners in
        business) that you might be interested in. To better serve you, we might also combine the information you give
        us
        with information about you that is already in our possession or that we have obtained from other sources. We
        never
        divulge, trade, sell, or rent out your personal information to unidentified third parties.</p> <br>


    <h2>Log In With Hyderabad Home Theaters</h2>

    <p> It's simple to sign in to the website using Hyderabad Home Theaterswhile also having more control over the
        information
        you give. Hyderabad Home Theaters won't keep tabs on your online behavior or create a profile of you.</p> <br><br>


    <h2>WALLET HIDE WHAT YOU BUY</h2>
    <p>Your credit and debit card numbers are hidden from Hyderabad Home Theaters.</p>



    <h2>SECURITY</h2>
    <p>By following accepted security standards and processes and adhering to relevant privacy regulations, we protect
        your
        privacy. <br><br>

        We take reasonable precautions to safeguard your personal information using physical, electronic, or procedural
        security measures appropriate to the sensitivity of the data under our custody or control, which may include
        security measures to thwart loss or theft as well as unauthorized access, disclosure, copying, use, or
        modification.</p><br>

    <h2>CORRECTION AND CONTACTING US</h2>
    <p> Write to hometheatres.hyderabad@gmail.com if you would like to request a correction of any of your personal
        information that is under our care or control. Your right to update your personal information is restricted by
        any
        applicable laws. Before making adjustments, we could take appropriate measures to confirm your identification.
        You
        can write to us as stated above if you have any questions, complaints, or other concerns regarding how we handle
        your personal information. <br><br>



        <b> Policy Note:</b> Policy may be revised from time to time. We will post all changes on this website. This
        policy is
        specific to Hyderabad Home Theaters operations in India. <br><br>




        If you have any questions about our Privacy Policy, please e-mail your questions to us at
        hometheatres.hyderabad@gmail.com
    </p>

</div>