<div class="container">
    <section class="view-banner">
        <div class="card-header mt-5 p-2 text-center">
            <h1 class="mt-3"><b>Add Banner</b></h1>
        </div>
    </section>

    <div class="card mt-5 p-4">
        <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="title" class="form-label"><b>Banner Title</b></label>
                    <input type="text" id="title" name="title" class="form-control" formControlName="title">
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="subTitle" class="form-label"><b>Sub-Title </b></label>
                    <textarea name="subTitle" id="subTitle" class="form-control" formControlName="subTitle"></textarea>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="url" class="form-label"><b>Banner URL</b></label>
                    <input id="url" name="url" class="form-control" formControlName="url">
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="status" class="form-label"><b>Status</b></label>
                    <select name="status" id="status" class="form-control" formControlName="status">
                        <option value="" disabled selected>Select Status</option>
                        <option value="active">ACTIVE</option>
                        <option value="inactive">INACTIVE</option>
                    </select>
                </div>
                <!-- Image Upload -->
                <div class="col-md-6 col-sm-12 mb-3">
                    <label><b>Upload Images (up to 4)</b></label>
                    <input type="file" (change)="onImageChange($event)" accept="image/*" multiple
                        class="form-control" />
                </div>
                <!-- Video Upload -->
                <div class="col-md-6 col-sm-12 mb-3">
                    <label><b>Upload Video</b></label>
                    <input type="file" (change)="onVideoChange($event)" accept="video/*" multiple
                        class="form-control" />
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="bannerForm.invalid">Submit</button>
            </div>
        </form>

    </div>
</div>